@import "./file-browser/list.css";

caffold-file-navigator {
  display: block;
  min-width: 0;
  min-height: 0;
  height: 100%;
  overflow: hidden;

  & > caffold-file-list {
    width: 100%;
    min-width: 0;
    min-height: 0;
    height: 100%;
  }
}
